{{ define "main" }}
    {{"<!-- layouts/home.html -->" | safeHTML }}
    <section class="prim-sec">
        <div class="prim-cont flex-column">
            <h1>Find local Bowling Green businesses quickly, with no ads and no paid promotions, curated by a Bowling Green, KY resident.</h1>
            <span>I'm looking for ... add search here</span>
            {{ range .Site.Sections }}
                <h2>{{ .Title }}</h2>
                <ul>
                    {{ range .Pages }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
    </section>
    <script src="/js/invite-redirect.js"></script>
{{ end }}
